
* {
    border: 2px solid green;
}


.page {
    color:black;
    
}

.content {
    display: flex;


 
}


.navBar {
    background-image: url("https://images.unsplash.com/photo-1517219039361-66f283bce5db?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8b2NlYW4lMjBzaG9yZXxlbnwwfHwwfHw%3D&w=1000&q=80");
    display: flex;
    height: 8em;
    justify-content: space-between;
    align-items: center;

}

.pageTitle {
    font-size: 3em;
    display: flex;
    width: 30%;
    color: white;
    justify-content: center;

}

.menuButtons {
    display: flex;
    
    width: 100%;
    align-items: center;
    height: 100%;
    justify-content: center;
}


.sections{
    color: green;
    display: flex;
    flex-direction: column;
    border: 3px solid gray;
    margin: 1em;
    width: 33%;
    justify-content: space-between;
    margin: 1em;
    

}

.subsections {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 50%;

}

.h1 {
    color: gray;
    align-self: center;
    font-size: 32pt;
    justify-content: center;

}


.lists {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: space-between;
    height: 100%;
    align-content: space-evenly;
    flex-direction: column;


}

img {
    width:100%;
}


.footer {
    display: flex;
    width: 100%;
    border: 2px dashed red;
    justify-content: center;
    background-color: silver;
}

.footerText {
    color: green
}


ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

#tank-cleaning {
    display: flex;
    height: 100%;
}


.locations {
    display: flex;
    flex-direction: row;
    border: 2px dashed green;
    justify-content: space-evenly;



}

#locations-image {
    width: 33%;
    height: auto;

}

h2 {
    display: flex;
    align-self: center;

}

